<h3 class="title">Tell me a secret</h3>
<form action="/post" method="post">
	<textarea name="post-body" cols="100" rows="10" maxlength="10000" style="width:100%;"></textarea><br>
	<input type="submit" value="Submit" class="btn btn-success pull-right">
</form>
