 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Secrets</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
  </head>
  <body>
  <header id="header">
  	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/secret">View a secret</a></li>
	  <li><a href="/stats">Statistics</a></li>
	</ul>
  </header>
  	<%= content %>
  </body>
</html>

